<section class="container">
  <form class="form" (ngSubmit)="register()">
    <h2 class="form__title">Novo Torcedor</h2>

    <div class="form-field">
      <label class="form-field__label" for="name">Nome</label>
      <input class="form-field__input" id="name" type="text" [(ngModel)]="name" name="name" placeholder="Insira seu nome aqui">
    </div>

    <div class="form-field">
      <label class="form-field__label" for="age">Idade</label>
      <input class="form-field__input" id="age" type="text" [(ngModel)]="age" name="age" placeholder="Insira sua idade aqui">
    </div>

    <div class="form-field">
      <label class="form-field__label" for="team">Time do coração</label>
      <input class="form-field__input" id="team" type="text" [(ngModel)]="team" name="team" placeholder="Insira seu time aqui">
    </div>

    <div class="button-wrapper">
      <button class="button" type="submit">Cadastrar</button>
    </div>
  </form>
</section>
