@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root {
    --primary: #F75930;
    --secondary: #5D3359;
    --padding: 15px;
    --Black : #333;
    --White: #EBEBEB;
  }
  
  * {
    font-family: 'Poppins', sans-serif;
  }
  
  .container {
    max-width: 400px;
    padding: 30px;
    margin: 0 auto;
  }